{
  "extends": "stylelint-config-htmlacademy",
  "customSyntax": "postcss-scss",
  "rules": {
    "selector-pseudo-class-no-unknown": [
      true,
      {
        "ignorePseudoClasses": ["global"]
      }
    ]
  }
}
