{
  "extends": "stylelint-config-htmlacademy",
  "customSyntax": "postcss-scss",
  "rules": {
    "function-no-unknown": [
      true,
      {
        "ignoreFunctions": [
          "map-get"
        ]
      }
    ],
    "at-rule-no-unknown": null,
    "scss/at-rule-no-unknown": true,
    "selector-pseudo-class-no-unknown": [
      true,
      {
        "ignorePseudoClasses": [
          "global"
        ]
      }
    ]
  },
  "plugins": [
    "stylelint-scss"
  ]
}
