@import "../../assets/styles/global";
@import "../../assets/styles/mixins";

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: $spacing-1;

  font-family: "Gilroy", serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;

  border-radius: $radius-2;
  border: 0;
  outline: 1px solid transparent;

  transition: background-color 0.2s ease, outline 0.2s ease;

  &:disabled {
    background-color: $ui-gray-active;

    cursor: not-allowed;
  }

  &:focus {
    outline: 1px solid $ui-blue;
    outline-offset: 2px;
  }
}

.s {
  padding: 10px 40px;

  &.onlyIcon {
    padding: 10px;
  }
}

.m {
  padding: 14px 40px;

  &.onlyIcon {
    padding: 14px;
  }
}

.l {
  padding: 18px 40px;

  &.onlyIcon {
    padding: 18px;
  }
}

.primary {
  @include theme($text-on-color, $ui-blue, $ui-blue-hover, $ui-blue-active);
}

.success {
  @include theme($text-on-color, $ui-green, $ui-green-hover, $ui-green-active);
}

.failed {
  @include theme($text-on-color, $ui-red, $ui-red-hover, $ui-red-active);
}

.warning {
  @include theme($text-on-color, $ui-orange, $ui-orange-hover, $ui-orange-active);
}

.tertiary {
  @include theme($ui-blue, transparent, transparent, transparent);
}

.black {
  @include theme($text-on-color, $ui-black, $ui-black-hover, $ui-black-active);
}

.white {
  @include theme($ui-blue, $ui-white, $ui-white-hover, $ui-white-active);
}

.rounded {
  border-radius: $radius-4;
}

.loader {
  animation: rotate 1.4s linear infinite;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
