@import "../../assets/styles/global";
@import "../../assets/styles/mixins";

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: $spacing-1;

  font-family: "Gilroy", serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;

  border-radius: $radius-2;
  border: 0;
  outline: 1px solid transparent;

  transition: background-color 0.2s ease, outline 0.2s ease;

  &:disabled {
    background-color: $ui-gray-active;

    cursor: not-allowed;
  }

  &:focus {
    outline: 1px solid $ui-blue;
    outline-offset: 2px;
  }
}

.s {
  padding: 10px 20px;

  &.onlyIcon {
    padding: 10px;
  }
}

.m {
  padding: 14px 30px;

  &.onlyIcon {
    padding: 14px;
  }
}

.l {
  padding: 18px 40px;

  &.onlyIcon {
    padding: 18px;
  }
}

.xs {
  padding: 4px 20px;

  &.onlyIcon {
    padding: 4px;
  }
}

.primary {
  @include theme("primary");
}

.success {
  @include theme("success");
}

.error {
  @include theme("error");
}

.warning {
  @include theme("warning");
}

.tertiary {
  @include theme("tertiary");
}

.black {
  @include theme("dark");
}

.white {
  @include theme("light");
}

.rounded {
  border-radius: $radius-4;
}

.loader {
  animation: rotate 1.4s linear infinite;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
