// TEXT COLORS
$text-primary: #161616;
$text-secondary: #6b6b6b;
$text-tertiary: #a8a8a8;
$text-on-color: #ffffff;
$text-brand: #186ade;
$text-success: #077d55;
$text-warning: #cf5b16;
$text-error: #d91f11;

// PRIMARY COLORS
$ui-blue: #186ade;
$ui-blue-hover: #0d4ea6;
$ui-blue-active: #103a75;

$ui-gray: #6b6b6b;
$ui-surface-gray: #f5f5f5;
$ui-gray-hover: #515152;
$ui-gray-active: #393939;

$ui-green: #077d55;
$ui-green-hover: #075e45;
$ui-green-active: #094536;

$ui-orange: #cf5b16;
$ui-orange-hover: #9e3917;
$ui-orange-active: #72321b;

$ui-red: #d91f11;
$ui-red-hover: #a1160a;
$ui-red-active: #75160c;

$ui-black: #000000;
$ui-black-hover: #171717;
$ui-black-active: #232323;

$ui-white: #ffffff;
$ui-white-hover: #f1f1f1;
$ui-white-active: #e3e3e3;

// BACKGROUND COLORS
$background-white: #ffffff;
$background-gray: #eeeeee;
$background-brand: #186ade;
$background-overlay: rgba(0, 0, 0, 0.65);
$border: #c6c6c6;
$dark: #252525;

// RADIUS
$radius-1: 4px;
$radius-2: 8px;
$radius-3: 16px;
$radius-4: 48px;

// SPACING
$spacing-1: 8px;
$spacing-2: 16px;
$spacing-3: 24px;
$spacing-4: 32px;
$spacing-5: 40px;
$spacing-6: 48px;
$spacing-7: 64px;
$spacing-8: 80px;
$spacing-9: 96px;

$themes: (
  primary: (
    text: $ui-white,
    background: $ui-blue,
    hover-background: $ui-blue-hover,
    hover-text: $ui-white,
    active: $ui-blue-active,
  ),
  success: (
    text: $ui-white,
    background: $ui-green,
    hover-background: $ui-green-hover,
    hover-text: $ui-white,
    active: $ui-green-active,
  ),
  error: (
    text: $ui-white,
    background: $ui-red,
    hover-background: $ui-red-hover,
    hover-text: $ui-white,
    active: $ui-red-active,
  ),
  warning: (
    text: $ui-white,
    background: $ui-orange,
    hover-background: $ui-orange-hover,
    hover-text: $ui-white,
    active: $ui-orange-active,
  ),
  light: (
    text: $dark,
    background: $ui-white,
    hover-background: $ui-white-hover,
    hover-text: $dark,
    active: $ui-white-active,
  ),
  dark: (
    text: $ui-white,
    background: $ui-black,
    hover-background: $ui-black-hover,
    hover-text: $ui-white,
    active: $ui-black-active,
  ),
  tertiary: (
    text: $ui-blue,
    background: transparent,
    hover-background: transparent,
    hover-text: $ui-blue-hover,
    active: transparent,
  ),
);
