$ui-blue: #1f75fe;
$ui-blue-light: #1992ff;
$ui-blue-dark: #206fff;

$ui-green: #218248;
$ui-green-light: #00ae46;
$ui-green-dark: #00712e;

$ui-red: #b32d30;
$ui-red-light: #ef0006;
$ui-red-dark: #9c0004;

$ui-yellow: #f8df23;
$ui-yellow-light: #f8f023;
$ui-yellow-dark: #f8cf23;

$white: #ffffff;
$black: #000000;
$gray: #676767;
$dark: #161718;
