// TEXT COLORS
$text-primary: #161616;
$text-secondary: #6b6b6b;
$text-tertiary: #a8a8a8;
$text-on-color: #ffffff;
$text-brand: #186ade;
$text-success: #077d55;
$text-warning: #cf5b16;
$text-error: #d91f11;

// PRIMARY COLORS
$ui-blue: #186ade;
$ui-blue-hover: #0d4ea6;
$ui-blue-active: #103a75;

$ui-gray: #6b6b6b;
$ui-gray-hover: #515152;
$ui-gray-active: #393939;

$ui-green: #077d55;
$ui-green-hover: #075e45;
$ui-green-active: #094536;

$ui-orange: #cf5b16;
$ui-orange-hover: #9e3917;
$ui-orange-active: #72321b;

$ui-red: #d91f11;
$ui-red-hover: #a1160a;
$ui-red-active: #75160c;

// BACKGROUND COLORS
$background-white: #ffffff;
$background-gray: #f5f5f5;
$background-brand: #186ade;
$background-overlay: rgba(0, 0, 0, 0.65);
$border: #c6c6c6;
