@mixin theme($text, $background, $hover, $active) {
  background-color: $background;
  color: $text;

  &:hover {
    background-color: $hover;

    cursor: pointer;
  }

  &:active {
    background-color: $active;
  }
}
